<div>
    <h2 id="page-heading">
        <span jhiTranslate="spaceApp.spaceEvent.home.title">Space Events</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-space-event" [routerLink]="['/space-event/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="spaceApp.spaceEvent.home.createLabel">
            Create a new Space Event
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="spaceEvents?.length === 0">
        <span jhiTranslate="spaceApp.spaceEvent.home.notFound">No spaceEvents found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="spaceEvents && spaceEvents.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="spaceApp.spaceEvent.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span jhiTranslate="spaceApp.spaceEvent.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="spaceApp.spaceEvent.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="photo"><span jhiTranslate="spaceApp.spaceEvent.photo">Photo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span jhiTranslate="spaceApp.spaceEvent.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mission.name"><span jhiTranslate="spaceApp.spaceEvent.mission">Mission</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let spaceEvent of spaceEvents ;trackBy: trackId">
                    <td><a [routerLink]="['/space-event', spaceEvent.id, 'view']">{{ spaceEvent.id }}</a></td>
                    <td>{{ spaceEvent.name }}</td>
                    <td>{{ spaceEvent.date | date:'mediumDate' }}</td>
                    <td>{{ spaceEvent.description }}</td>
                    <td>
                        <a *ngIf="spaceEvent.photo" (click)="openFile(spaceEvent.photoContentType, spaceEvent.photo)">
                            <img [src]="'data:' + spaceEvent.photoContentType + ';base64,' + spaceEvent.photo" style="max-height: 30px;" alt="spaceEvent image"/>
                        </a>
                        <span *ngIf="spaceEvent.photo">{{ spaceEvent.photoContentType }}, {{ byteSize(spaceEvent.photo) }}</span>
                    </td>
                    <td jhiTranslate="{{ 'spaceApp.SpaceEventType.' + spaceEvent.type }}">{{ spaceEvent.type }}</td>
                    <td>
                        <div *ngIf="spaceEvent.mission">
                            <a [routerLink]="['/mission', spaceEvent.mission?.id, 'view']" >{{ spaceEvent.mission?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/space-event', spaceEvent.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/space-event', spaceEvent.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(spaceEvent)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
